.head{
    padding-bottom: 10px !important;
}

.thumb{
    height: 30px;
    width: 30px;
    margin-top: 15px;
}

.profile-circle{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}
