<!DOCTYPE html>
<html>
<head>

    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css')}}"  media="screen,projection"/>
      <!--Import css-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--Import jquery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename ='materialize/js/materialize.min.js')}}"></script>
    <nav class="transparent">
        <div class="nav-wrapper">
            <a href="{{ url_for('showCategories') }}" class="brand-logo teal-text">Aloha Library
                <i class="material-icons teal-text">looks</i></a>

            <ul class="right hide-on-med-and-down">
                {% if not session['username']:%}
                    <li><a href="{{url_for('showLogin')}}"class="waves-effect waves-light btn">Login</a></li>
                {% else: %}
                    <li><a href="{{url_for('userPage', user_id = session['facebook_id'])}}" class="teal-text"> Logged in as: {{session['username']}}</a></li>
                    <li><img class="thumb circle" src="{{session['picture']}}"></li>
                    <li><a href="{{url_for('fbdisconnect')}}"class="waves-effect waves-light btn">Logout</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="flash white-text teal lighten-3">
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    <ul>
                    {% for message in messages: %}
                        <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
{% block content %}

{% endblock %}
    </div>
</body>
</html>
