{% extends "base.html" %}

{% block content %}
</div>
<div class = "landing">
    <div class = "row">
        <div class = 'col s12 maintitle'>
            <h1 class="center-align teal-text">
                <i class="large material-icons">looks</i><br>Aloha</h1>
            <br>
            <h5 class="center-align teal-text">A responsive library inventory</h5>
        </div>
        <div class = 'col s12 center-align'>
            {% if not session['username']:%}
                <a href="{{url_for('showLogin')}}"class="waves-effect waves-light btn">Login</a>
            {% else %}
                <a href="{{url_for('fbdisconnect')}}"class="waves-effect waves-light btn">Logout</a>
            {% endif %}
        </div>

</div>


{% endblock %}